table {
  border: 1px solid black;
  border-style: dotted;
  border-color: blue;
}
th,
td {
  padding: 15px;
  background: aliceblue;
}

h1 {
  color: aquamarine;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.canvas {
  height: 500px;
  width: 500px;
}
.pics {
  height: 100px;
  width: 100px;
}
#mypics {
  display: flex;
  justify-content: flex-start;
}
